head,
body{
  width:100%;
  height: 100%;
}
table{
  border: 1px solid black;
}
.imagem{
  width: 214px;
}
#centralizado{
  margin-left: 35%;
}
li > a{
  color: #000!important;
}
input{
  margin-bottom: 10px;
}